.boton{
    background-color: rgb(0, 0, 0);
    border: 0;
    padding: 5px 10px;
    border-radius: 5px;
    color: #fff;
    margin: 10px;
    width: 100px;
}

.boton:hover{
    background-color: rgb(72, 170, 116);
}

.boton-t{
    @extend .boton;
        background-color: (#C2578A);
       border-radius: 1px;
       
}

.boton-t:hover{
    background-color: (#1E3D42);
}