.boton{
    background-color: (#C2578A);
    border: 0;
    padding: 5px 10px;
    border-radius: 5px;
    color: #fff;
    margin: 10px;
    width: 100px;
}

.boton:hover{
    background-color: (#296B75);
}

.boton-t{
    @extend .boton;
    
    border-radius: 1px;
       
}

.boton-t:hover{
    background-color: (#296B75);
}