* {
    margin: 0;
    padding: 0;
    font-family: 'Oswald'
}

a {
    text-decoration: none;
}

body {
    background-color: #58b4c2;
}

footer {   
    background-color: #58b4c2;
    color: whitesmoke;
}